In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
API_KEY = 'wa-FxFLJyWvFsyxj6zpA'

In [2]:
from pandas_datareader import data as web
import datetime

In [3]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2020, 1, 1)

tesla = web.DataReader('TSLA', 'quandl', start, end, api_key=API_KEY)

In [4]:
tesla.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [6]:
tesla.to_csv('../data/Tesla_Stock.csv')

In [7]:
ford = web.DataReader('F', 'quandl', start, end, api_key=API_KEY)
gm = web.DataReader('GM', 'quandl', start, end, api_key=API_KEY)

In [8]:
ford.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,10.85,10.920,10.72,10.83,38263798.0,0.0,1.0,10.85,10.920,10.72,10.83,38263798.0
2018-03-26,10.74,10.870,10.68,10.83,52165572.0,0.0,1.0,10.74,10.870,10.68,10.83,52165572.0
2018-03-23,10.79,10.850,10.51,10.56,39706214.0,0.0,1.0,10.79,10.850,10.51,10.56,39706214.0
2018-03-22,11.00,11.060,10.73,10.75,50907549.0,0.0,1.0,11.00,11.060,10.73,10.75,50907549.0
2018-03-21,11.00,11.185,10.93,11.10,38407514.0,0.0,1.0,11.00,11.185,10.93,11.10,38407514.0

In [10]:
gm.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,36.02,36.03,34.500,34.87,17393191.0,0.0,1.0,36.02,36.03,34.500,34.87,17393191.0
2018-03-26,35.94,36.05,35.285,35.99,9251162.0,0.0,1.0,35.94,36.05,35.285,35.99,9251162.0
2018-03-23,36.42,36.59,35.130,35.17,12939065.0,0.0,1.0,36.42,36.59,35.130,35.17,12939065.0
2018-03-22,37.23,37.33,36.270,36.35,12455805.0,0.0,1.0,37.23,37.33,36.270,36.35,12455805.0
2018-03-21,37.16,38.02,37.100,37.58,11412099.0,0.0,1.0,37.16,38.02,37.100,37.58,11412099.0

In [11]:
ford.to_csv('../data/Ford_Stock.csv')
gm.to_csv('../data/GM_Stock.csv')

### Visualizing the Data